{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
     <form method="POST" action="/send">
      <div class="form-group">
        <p style="text-align:center;">
          Input message here:
     		<input type="text" name="message">
        </p>
        <p style="text-align:center;">
          Input priority level:
     		<input type="number" name="priority">
        </p>
        </div>
        <br><br>
       <p style="text-align:center;">
     	<input class="btn btn-pr" type="submit" value="submit">
    </p>
     </form>
          </div>
        </article>
    {% endfor %}
{% endblock content %}