{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <p style="text-align:center; font-size: 30px;">
              Input the message here:
            </p>
     <form method="POST" action="/send">
     	<div class="form-group">
        <p style="text-align:center;">
     		<input type="text" name="message">
        </p>
     	</div>
       <p style="text-align:center;">
     	<input class="btn btn-primary" type="submit" value="submit">
    </p>
     </form>
          </div>
        </article>
    {% endfor %}
{% endblock content %}